td {
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    cursor: pointer;
}

table{
    border-collapse: collapse;
    /* position: absolute; */
    /* left: 50%; */
    /* margin-left: -155px; */
    /* top: 80px; */
    margin: 0 auto;
    margin-top: 80px;
}

table tr:first-child td{
    border-top: 0;
}
table tr:last-child td{
    border-bottom: 0;
}

table tr td:first-child{
    border-left: 0;
}

table tr td:last-child{
    border-right: 0;
}

.endgame{
    display: none;
    width: 200px;
    height: 80px;
    top: 23%;
    position: absolute;
    background-color: rgba(205,133,63, 0.8);
    left: 50%;
    margin-left: -100px;
    text-align: center;
    vertical-align: middle;
    padding: 50px 0;
    border-radius: 5px;
    color: white;
    font-size: 2em;
}